@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

body {
    font-family: 'Times New Roman', Times, serif;
    background-color: #f3f3f3;
}

.title_text {
    @apply text-4xl text-[#0c2e1d] 
}

.desc_text {
    font-family: 'Roboto', sans-serif;
}

.chosen_link {
    @apply text-[#0c2e1d] font-bold border-b-2 border-[#0c2e1d]
}

.item {
    @apply flex flex-col w-64 h-full gap-4
}

.last_item {
    margin-top: auto;
}

.recipe_image_container {
    @apply w-64 h-64 bg-slate-500 rounded-lg overflow-hidden
}

.desc_container {
    @apply flex flex-col gap-3
}

.recipe_image {
    @apply w-full h-full object-fill rounded-lg
}

.recipe_btns_container {
    @apply w-full flex gap-4 flex-wrap desc_text
}

.recipe_btn {
    @apply bg-[#dddbdc] px-4 py-2 rounded-full transition hover:bg-[#a9a7a8]
}

.pagination_container {
    @apply w-full flex justify-between my-10 items-center
}

.pagination_item {
    @apply text-xl px-6 py-2 border-2 border-[#0c2e1d] rounded-md
}

.pagination_item_active {
    @apply border-4 bg-gray-200
}

.number_chosen {
    @apply w-6 h-6 rounded-full bg-slate-300 flex justify-center items-center self-center
}

.nav-item{
    position: relative;
    transition: 0.3s ease-in-out;
}

.nav-item::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 2px;
    width: 0;
    background-color: #0c2e1d;
    transition: width 0.3s ease-in-out;
}

.nav-item:hover:not(.chosen_link) {
    color: #0c2e1d;
} 

.nav-item:hover:not(.chosen_link)::after {
    width: 100%;
}