@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

body {
    font-family: 'Times New Roman', Times, serif;
    background-color: #f3f3f3;
}

.title_text {
    @apply text-4xl text-[#0c2e1d] 
}

.chosen_link {
    @apply text-[#0c2e1d] font-bold pb-1 border-b-2 border-[#0c2e1d]
}

.nav-item{
    position: relative;
    transition: 0.3s ease-in-out;
}

.nav-item::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 2px;
    width: 0;
    background-color: #0c2e1d;
    transition: width 0.3s ease-in-out;
}

.nav-item:hover:not(.chosen_link) {
    color: #0c2e1d;
} 

.nav-item:hover:not(.chosen_link)::after {
    width: 100%;
}